version: '3.8'
services:
  backend:
    build: .
    container_name: whats_app_backend
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
      RABBITMQ_URL: amqp://rabbitmq:5672
    ports:
      - '4000:4000'
    depends_on:
      - redis
      - rabbitmq

  redis:
    image: redis:7-alpine
    container_name: whats_app_redis
    ports:
      - '6379:6379'

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: whats_app_rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'